body{
  font-family: 'IBM Plex Sans', sans-serif;
}


// *For Desktop
@media (min-width: 1300px) {
  .about-us-container{
    padding: 75px 130px;
    display: flex;
    justify-content: space-between;
    gap: 30px;


    // *Left Column
    .left-column{
      width: 45%;

      h2{
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 20px;
        color: #10C843;
      }

      h1{
        margin: 0;
        margin-bottom: 20px;
        line-height: 3.7rem;
        font-weight: 500;
        font-size: clamp(30px, 3.5vw, 3rem);
      }
      p{
        margin: 0;
        margin-bottom: 50px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 300;
        font-family: 'IBM Plex Sans', sans-serif;
      }
    }

    
    
    // *Right Column
    .right-column{
      width: 55%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .image-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        img{
          height: 90%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

// *For Tablets
@media (max-width: 1299.99px) and (min-width: 801px) {
  .about-us-container{
    padding: 75px 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;


    // *Left Column
    .left-column{
      width: 45%;

      h2{
        font-size: clamp(25px, 1.5vw, 1.7rem);
        margin: 0;
        margin-bottom: 20px;
        color: #10C843;
      }

      h1{
        margin: 0;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: clamp(30px, 3.5vw, 3rem);
      }
      p{
        margin: 0;
        margin-bottom: 50px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 300;
        font-family: 'IBM Plex Sans', sans-serif;
      }
    }

    
    
    // *Right Column
    .right-column{
      width: 55%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .image-container{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        img{
          width: 90%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

// *For Mobile
@media (max-width: 800px) and (min-width: 320px) {
  .about-us-container{
    padding: 75px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;


    // *Left Column
    .left-column{
      width: 100%;

      h2{
        font-size: clamp(25px, 1.5vw, 1.7rem);
        margin: 0;
        margin-bottom: 20px;
        color: #10C843;
      }

      h1{
        margin: 0;
        margin-bottom: 20px;
        // font-size: 3rem;
        font-weight: 500;
        font-size: clamp(30px, 3.5vw, 3rem);
      }
      p{
        margin: 0;
        margin-bottom: 50px;
        font-size: 1.1rem;
        line-height: 1.8rem;
        font-weight: 300;
        font-family: 'IBM Plex Sans', sans-serif;
      }
    }

    
    
    // *Right Column
    .right-column{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .image-container{
        height: 100%;
        display: flex;
        justify-content: center;

        img{
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}