body{
  font-family: IBM Plex Sans Condensed;;
}

@media (min-width: 1200px) {
  .about-us-container{
    padding: 75px 180px;
    display: flex;
    justify-content: space-between;
    gap: 0;


    // *Left Column
    .left-column{
      width: 52%;

      h2{
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 20px;
        color: #10C843;
      }

      h1{
        margin: 0;
        margin-bottom: 20px;
        font-size: 3rem;
        line-height: 3.7rem;
        font-weight: 500;
      }
      p{
        width: 550px;
        margin: 0;
        margin-bottom: 50px;
      }
    }

    
    
    // *Right Column
    .right-column{
      width: 48%;
      display: flex;
      justify-content: flex-end;
      padding-top: 40px;

      .image-container{
        width: 80%;
        height: 80%;
        background-color: #e5e5e5;
        border-top-left-radius: 10px;
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .image-1-wrapper{
          width: auto;
          margin-left: 140px;
          overflow: visible;
        }

        .image-2-wrapper{
          width: auto;
          margin-left: -70px;
        }
      }
    }
  }
}