body{
  h1{
    font-family: IBM Plex Sans Condensed;
  }

  h2{
    font-family: IBM Plex Sans Condensed;
  }

  p{
    font-family: IBM Plex Sans Condensed;
  }
}



@media (min-width:1200px) {
  .benefits-container{
    padding: 75px 130px;
    display: flex;
    flex-direction: column;

    // *Text Wrapper
    .text-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;

      h2{
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 20px;
        color: #10C843;
        text-align: center;
      }

      h1{
        margin: 0;
        margin-bottom: 20px;
        font-size: 3rem;
        line-height: 3.7rem;
        font-weight: 500;
        text-align: center;
        width: 800px;
      }
      p{
        width: 550px;
        margin: 0;
        text-align: center;
      }
    }

    // *Grid Wrapper
    .grid-wrapper{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      margin-bottom: 50px;

      .grid-element{
        background-color: #F7FDF9;
        border-radius: 10px;
        padding: 20px;

        .number-wrapper{
          background-color: rgba($color: #10C843, $alpha: .1);
          width: 50px;
          height: 50px;
          border-radius: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          
          h1{
            margin: 0;
            font-size: 2.125rem;
            line-height: 3.7rem;
            font-weight: 500;
            color: #10C843;
            display: inline;
          }
        }
        h2{
          font-size: 1.5rem;
          margin: 0;
          margin-bottom: 20px;
        }
        p{
          margin: 0;
        }

        .collapsed{
          margin-top: 10px;
        }

        button{
          background-color: transparent;
          border: none;
          margin: 0;
          padding: 0;
          border-bottom: solid 3px transparent;
          font-family: IBM Plex Sans Condensed;
          font-weight: 500;
          color: #10C843;
          cursor: pointer;
          margin-top: 20px;
          transition: .2s ease-in-out;
        }

        button:hover{
          border-bottom: solid 3px #10C843;
        }
      }

      .grid-element:nth-child(even){
        background-color: transparent;
        border: solid 1px #F2F2F2;
      }
    }

    // *View All Wrapper
    .view-all-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      h1{
        margin: 0;
        font-size: 1.5rem;
      }

      .line{
        flex: 1;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        hr{
          width: 100%;
          opacity: .5;
        }
      }
    }
  }
}