@media (min-width: 1200px) {
  .client-container{
    background-color: #1E1E1E;
    color: #ffff;
    padding: 70px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
  }
}